@import '../../../variables.scss';
@import '../../../mixins.scss';

.tagList {
  @extend %list;
  @extend %reset;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tagItemSmall {
  margin: 0 4px;
  margin-bottom: 5px;
}

.tagLinkSmall {
  @extend %link;
  color: $fontColorWhite;
  text-align: center;
  background-color: $colorBlue;
  padding: 5px;
  @include fontView(12px,500);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  @extend %transition;

  &:hover,&:focus {
    background-color: $colorBlueDark;
  }
}

.current {
  background-color: $colorBlueDark;
}
