@import '../../../variables.scss';
@import '../../../mixins.scss';

.tagList {
  @extend %list;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tagItem {
  margin: 10px;
}

.tagItemSmall {
  margin: 0 4px;
  margin-bottom: 5px;
}

.tagLink,
.tagLinkSmall {
  @extend %link;
  color: $fontColorWhite;
  text-align: center;
  background-color: rgba($colorPink, 0.8);
  @extend %transition;

  &:hover,&:focus {
    background-color: $colorPink;
  }

  &:active {
    background-color: rgba($colorPink, 0.5);
  }
}

.tagLink {
  padding: 15px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
  @include fontView(16px,500);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.tagLinkSmall {
  padding: 5px;
  @include fontView(12px,500);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
