@import '../../mixins.scss';
@import '../../variables.scss';

.user {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  background-color: $bgColorLight;
  border: 1px solid $borderColorGrey;
  cursor: pointer;

  @media screen and(min-width: 478px) {
    width: 47%;
  }

  @media screen and(min-width: 768px) {
    width: 30%;
  }
}

.userImageContainer {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  @extend %transition;
}

.userTitle {
  @extend %reset;
  margin-bottom: 10px;
  @include fontView($fontSize: 18px, $fontWeight: 700);
  color: $colorBlue;
  text-align: center;
  text-decoration: none;
  @extend %transition;

  &:hover,
  &:focus {
    color: $colorBlueDark;
  }
}
