@import '../../mixins.scss';
@import '../../variables.scss';

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgba($bgColorDark, 0.3);
  margin-bottom: 30px;
  background-color: white;

  &:hover {
    box-shadow: 1px 1px 10px rgba($bgColorDark, 0.7);
  }

  @media screen and(min-width: 768px) {
    width: 47%;
  }

  @media screen and(min-width: 960px) {
    width: 30%;
  }

  &.single {
    padding: 20px;

    @media screen and(min-width: 768px) {
      width: 100%;
      padding: 20px;
    }
  }
}

.postUser, .postContent {
  display: flex;
  width: 100%;
  padding: 10px;
}

.postUser {
  align-items: center;
  margin-bottom: 10px;
}

.postContent {
  flex-wrap: wrap;
  cursor: pointer;
}

.userImageContainer {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

.single .userImageContainer {
  width: 200px;
}

.userTitle {
  @extend %reset;
  text-decoration: none;
  margin-bottom: 3px;
  @include fontView($fontSize: 18px,$fontWeight: 700);
  color: $fontColorDark;
  @extend %transition;

  &:hover,
  &:focus {
    color: $colorPink;
  }
}

.single .userTitle {
  margin-bottom: 3px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

.date {
  @extend %reset;
  @include fontView($fontSize: 12px, $fontWeight: 300);
  font-style: italic;
}

.single .date {
  font-size: 14px;
}

.userInfoContainer {
  flex-grow: 0;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    & .userTitle {
      color: $colorPink;
    }
  }
}

.postImgContainer {
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: radial-gradient( transparent, rgba(black, 0.5));
    opacity: 1;
    @extend %transition;
}

  &:hover {
    &::after {
      opacity: 0;
    }

    img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }

  @media screen and (min-width: 479px) {
    width: 40%;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    max-height: 136px;
  }

  @media screen and (min-width: 960px) {
    max-height: 173px;
  }
}

.single .postImgContainer {
  @media screen and (min-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    max-height: 350px;
  }
}

.likesContainer {
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba($bgColorDark, 0.4);
  z-index: 2;

  span {
    @extend %reset;
    @include fontView($fontSize: 14px, $fontWeight: 400);
    color: $bgColorLight;
    transition: 0.3s linear;
}
}

.like {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: $bgColorLight;
  cursor: pointer;
  @extend %transition;

  &:hover {
    fill: $colorPink;
    & + span {
      color: $colorPink;
    }
  }
}

.postBodyContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  align-items: center;
  justify-items: center;
  justify-content: center;

  @media screen and (min-width: 479px) {
    width: 60%;
    padding: 0 10px;
  }

  @media screen and (min-width: 768px) {
    width: 100%
  }
}

.single .postBodyContainer {

  @media screen and (min-width: 479px) {
    width: 100%;
  }
}

.postText {
  @extend %reset;
  margin-bottom: 5px;
  text-decoration: none;
  color: $bgColorDark;
  text-align: center;
  @extend %transition;

  &:hover,
  &:focus {
    color: $colorPink;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  button:first-of-type{
    margin-right: 15px;
  }
}
