@import '../../../mixins.scss';
@import '../../../variables.scss';

.mobileShow {
  @extend %reset;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  @extend %transition;
  z-index: 2;

  & span, &::before, &::after {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 1px;
    content: '';
    background-color: $bgColorLight;
  }

  & span {
    top: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition-delay: 0;
  }

  &::before {
    top: 10px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.3s linear, top 0.3s linear;
    -webkit-transition: transform 0.3s linear, top 0.3s linear;
    -moz-transition: transform 0.3s linear, top 0.3s linear;
    -ms-transition: transform 0.3s linear, top 0.3s linear;
    -o-transition: transform 0.3s linear, top 0.3s linear;
    transition-delay: 0s, 0.3s;
  }

  &::after {
    bottom: 10px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.3s linear, bottom 0.3s linear;
    -webkit-transition: transform 0.3s linear, bottom 0.3s linear;
    -moz-transition: transform 0.3s linear, bottom 0.3s linear;
    -ms-transition: transform 0.3s linear, bottom 0.3s linear;
    -o-transition: transform 0.3s linear, bottom 0.3s linear;
    transition-delay: 0s, 0.3s;
  }

  &:hover, &:focus {
    border-color: $bgColorLight;
  }

  @media screen and(min-width: 489px) {
    display: none;
  }
}

.mobileShow.close {

  span {
    opacity: 0;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
  }

  &::before {
    top: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: top 0.3s linear, transform 0.3s linear;
    -webkit-transition: top 0.3s linear, transform 0.3s linear;
    -moz-transition: top 0.3s linear, transform 0.3s linear;
    -ms-transition: top 0.3s linear, transform 0.3s linear;
    -o-transition: top 0.3s linear, transform 0.3s linear;
    transition-delay: 0s, 0.3s;
  }
  &::after {
    bottom: 18px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: bottom 0.3s linear, transform 0.3s linear;
    -webkit-transition: bottom 0.3s linear, transform 0.3s linear;
    -moz-transition: bottom 0.3s linear, transform 0.3s linear;
    -ms-transition: bottom 0.3s linear, transform 0.3s linear;
    -o-transition: bottom 0.3s linear, transform 0.3s linear;
    transition-delay: 0s, 0.3s;
  }
}

.arrowButton {
  @extend %reset;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: rgba($bgColorDark, 0.3);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  @extend %transition;

  svg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    fill: $bgColorDark;
    @extend %transition;
  }

  &:hover, &:focus {
    border-color: $bgColorDark;
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.arrowButton.close {
  left: 270px;

  svg {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
}

.btnGood, .btnDelete, .btnDeleteMe {
  padding: 5px 10px;
  background-color: white;
  text-align: center;
  border: 2px solid;
  @extend %transition;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btnGood {
  border-color: rgba($colorPink, 0.5);

  &:hover,
  &:focus {
    border-color: $colorPink;
  }
}

.btnDelete, .btnDelete {
  border-color: rgba($bgColorDark, 0.5);

  &:hover,
  &:focus {
    border-color: $bgColorDark;
  }
}

.btnDeleteMe {
  position: absolute;
  top: 10px;
  left: 10px;
}
