@import '../../../mixins.scss';
@import '../../../variables.scss';

.btnGood, .btnDelete {
  padding: 5px 10px;
  background-color: white;
  text-align: center;
  border: 2px solid;
  @extend %transition;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btnGood {
  border-color: $colorGreen;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    border-color: $colorGreenDark;
  }
}

.btnDelete {
  border-color: $fontColorLight;

  &:hover,
  &:focus {
    border-color: $bgColorDark;
  }
}

.btnDeleteMe {
  i {
    color: $colorRed;
    font-size: 30px;
    @extend %transition;
  }

  &:hover {
    i {
      color: $colorRedDark;
      font-size: 35px;
  }
}
}
