@import '../../mixins.scss';
@import '../../variables.scss';

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 15px;
  background-color: $bgColorLight;
}

.userImageContainer {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  @extend %transition;
}

.userTitle {
  @extend %reset;
  margin-bottom: 3px;
  @include fontView($fontSize: 18px, $fontWeight: 700);
  color: $colorBlue;
  text-align: center;
}

.contactGroup {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.city {
  @extend %reset;
  @include fontView($fontSize: 14px, $fontWeight: 300);
}

.date {
  @extend %reset;
  @include fontView($fontSize: 12px, $fontWeight: 300);
  font-style: italic;
  text-align: center;
}

.btnGood {
  padding: 5px 10px;
  background-color: white;
  text-align: center;
  border: 2px solid;
  text-decoration: none;
  @extend %transition;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btnGood {
  border-color: $colorGreen;

  &:hover,
  &:focus {
    border-color: $colorGreenDark;
  }
}

.buttonsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;

  a:first-of-type{
    margin-right: 15px;
  }
}

.far {
  color: $colorGreen;
  margin-right: 10px;
}
