$bgColorDark: #231F20;
$colorBlue: #27aae1;
$colorBlueDark: #149AC9;
$colorRed: #ef4136;
$colorRedDark: #d6100b;
$colorGreen: #8dc63f;
$colorGreenDark: #39b54a;
$bgColorLight: #f8f8f8;
$borderColorGrey: #f1f2f2;
$fontColorLight: #6d6e71;
$fontColorWhite: #ffffff;
