@import '../../mixins.scss';
@import '../../variables.scss';

.header {
  position: sticky;
  top: 0;
  background-color: $bgColorDark;
  z-index: 2;
  @extend %transition;

  @media screen and (min-width: 489px) {
    padding: 10px;
  }
}

.navList {
  @extend %reset;
  @extend %list;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $bgColorDark;
  @extend %transition;

  @media screen and (min-width: 489px) {
  }

  @media screen and (min-width: 789px) {
    // width: 60%;
  }
}

.navItem {
  width: fit-content;
  padding: 10px;
}

.navLink {
  @extend %link;
  margin-left: 10px;
  position: relative;
  padding-bottom: 4px;
  color: $fontColorWhite;
  border-bottom: 1px solid transparent;
  @include fontView(14px, 500);
  @extend %transition;

  &:hover,
  &:focus {
    color: $colorBlue;
    border-bottom-color: $colorBlue;
  }
}

.active {
  color: $colorBlue;
  border-bottom-color: $colorBlue;
}

.navLinkUser {
  @extend %link;
  margin-left: 10px;
  padding: 10px;
  @include fontView(16px, 500);
  background-color: $colorBlue;
  border: 1px solid $colorBlue;
  color: $fontColorWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %transition;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  &:hover,
  &:focus {
    border-color: $colorBlueDark;
  }
}

.navLinkUserActive {
  border-color: $colorBlueDark;
  background-color: $colorBlueDark;
}
