@import '../../mixins.scss';
@import '../../variables.scss';

.aside {
  width: 100%;
  @extend %transition;

  @media screen and(min-width: 960px) {
    width: 25%;
    position: sticky;
    top: 100px;
  }
}

.navList {
  @extend %reset;
  @extend %list;
  margin: 0 auto;
  @extend %transition;

  @media screen and (min-width: 489px) {
  }

  @media screen and (min-width: 789px) {
    // width: 60%;
  }
}

.navItem {
  padding: 10px;
  border-bottom: 1px solid $borderColorGrey;
}

.navLink {
  @extend %link;
  position: relative;
  display: flex;
  align-items: center;
  color: $fontColorLight;
  @include fontView(14px, 500);
  @extend %transition;

  .far {
    margin-right: 5px;
  }

  &:hover,
  &:focus {
    color: $colorBlue;
    border-bottom-color: $colorBlue;

    .far {
      color: $colorBlue;
    }
  }
}

.active {
  color: $colorBlue;
  border-bottom-color: $colorBlue;

  & .far {
    color: $colorBlue;
  }
}

